.App {
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center; 
  text-align: center;
  color: #4863A0;  
}

.App-logo {
  pointer-events: none;
}
h1 {
  font-family: "Poppins";
  text-align: center;
  font-size: 4rem; 
  margin-top: 20px;
  color: #4863A0;  
}

label {
  font-weight: 500;
  color: #dcdcdc;
  margin-right: 5px;
  font-size: 0.95rem;
}

input[type="text"] {
  background-color: #2c2c2c;
  color: white;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 6px 10px;
  margin-bottom: 15px;
}

input[type="text"]:focus {
  border-color: #4863A0; 
  box-shadow: 0 0 4px #4863A0;
}


button {
  background-color: #2c2c2c;          
  color: #dcdcdc;                     
  border: 1px solid #4863A0;          
  padding: 8px 14px;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}

.detail-nav {
  display: flex;
  justify-content: flex-start;      
  gap: 12px;           
  margin-top: 20px;
  margin-right: 95px;
}

.detail-nav a {
  background-color: #2c2c2c;
  color: #dcdcdc;
  font-family: "Poppins", sans-serif;
}

select {
  background-color: #2c2c2c;
  color: white;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 6px 10px;
  outline: none;
}

select:hover,
select:focus {
  border-color: #4863A0;
  box-shadow: 0 0 4px #4863A0;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #9aa3c2;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

body {
  background-color: #2C2C2C; 
  margin: 0;
}

a {
  color: #d9d9d9;           
  text-decoration: none;    
  font-family: "sans-serif";
}

.pokemon-details {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #f5f5f5;
  letter-spacing: 0.3px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
